body {
    font-family: 'Malgun Gothic', sans-serif;
    padding-left: 15px;
    background-color: #f9f9f9;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 4px solid #e68500;
}

.page-header h1, .page-header h1 a {
    color: #ffffff;
    font-size: 32pt;
    text-decoration: none;
    font-weight: bold;
}

.content {
    margin-left: 40px;
    margin-top: 20px;
}

.post {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post h2 a {
    color: #333333;
    text-decoration: none;
}

.post h2 a:hover {
    color: #ff9400;
}

.date {
    color: #828282;
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}